<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../information-card/information-card.html">
<link rel="import" href="../information-succes/information-succes.html">
<link rel="import" href="../informattion-cypto/informattion-cypto.html">
<link rel="import" href="../information-trans/information-trans.html">


<dom-module id="main-components">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>

    <information-card></information-card>
    <information-succes></information-succes>

  </template>

  <script>
    /**
     * `main-components`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MainComponents extends Polymer.Element {
      static get is() { return 'main-components'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'main-components'
          }
        };
      }
    }

    window.customElements.define(MainComponents.is, MainComponents);
  </script>
</dom-module>
